name: flutter_1
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.3

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/foto.png
    - assets/foto2.png
    - assets/foto3.png
    - assets/foto4.png
    - assets/foto5.png
    - assets/fondo.png

